.projects {
&-title {
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    padding: 20px 0;
}
&-subtitle {
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    padding-bottom: 20px;
    span {
        color: #007bff;
    }
}
&-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}
&-item {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    gap: 12px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #000;
}
&-img {
    max-width: 230px;
    width: 100%;
    border-radius: 15px;
}
&-link {
    padding: 5px;
    border: none;
    // border-radius: 15px;
}
.projects-item-list {
    font-size: 12px;
    text-align: left;
}
.projects-item-info {
    margin-bottom: 5px;
}
.view {
    background-color: #007bff;
    color: #ffffff;
    &:hover {
        background-color: #2062a9;
        transition: all 0.3s linear;
    }
}
.code {
    background-color: #28a745;
    color: #fff;
    &:hover {
        background-color: #0a972a;
        transition: all 0.3s linear;
    }
}
}
@media (max-width: 861px) {
    .projects-inner {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 677px) {
    .projects-inner {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 10px;
    }
    .projects-subtitle {
        font-size: 18px;
    }
}
@media (max-width: 486px) {
    .projects-inner {
        grid-template-columns: repeat(1, 1fr);
    }
    .projects-item {
        max-width: 100%;
        width: 100%;
        padding: 15px;
    }
    .projects-img {
        margin: 0 auto;
    }
    .projects-title {
        font-size: 26px;
    }
}
@media (max-width: 430px) {
    .projects-item {
        padding: 15px;
    }
}
@media (max-width: 349px) {
    .projects-inner {
        grid-template-columns: repeat(1, 1fr);
    }
}