<section class="projects">
<div class="container">
<h2 class="projects-title">websites</h2>
<p class="projects-subtitle">to watch project click <span>- watch,</span> to review code click <span>- source code</span></p>
<div class="projects-inner">
<div class="projects-item">
    <a href="https://andrewfront.github.io/foodshop/" target="_blank"><img class="projects-img" src="images/food-shop.jpg" alt="food-shop"></a>
    <a href="https://andrewfront.github.io/foodshop/" class="projects-link view" target="_blank">watch</a>
    <a href="https://github.com/andrewfront/FoodStore" class="projects-link code" target="_blank">source code</a>
</div>
<div class="projects-item">
    <a href="https://andrewfront.github.io/educationpublish/index.html" target="_blank"><img class="projects-img" src="images/education.jpg" alt="education"></a>
    <a href="https://andrewfront.github.io/educationpublish/index.html" class="projects-link view" target="_blank">watch</a>
    <a href="https://github.com/andrewfront/educationpublish" class="projects-link code" target="_blank">source code</a>
</div>
<div class="projects-item">
    <a href="https://andrewfront.github.io/healthyFoodPublish/" target="_blank"><img class="projects-img" src="images/healthy-food.jpg" alt="healthy-food"></a>
    <a href="https://andrewfront.github.io/healthyFoodPublish/" class="projects-link view" target="_blank">watch</a>
    <a href="https://github.com/andrewfront/healthyFoodPublish" class="projects-link code" target="_blank">source code</a>
</div>
<div class="projects-item">
    <a href="http://english-and-music.ru/#" target="_blank"><img class="projects-img" src="images/english-and-music.jpg" alt="english-and-music"></a>
    <a href="http://english-and-music.ru/#" class="projects-link view" target="_blank">watch</a>
    <a href="https://github.com/andrewfront/englishandmusic" class="projects-link code" target="_blank">source code</a>
</div>
<div class="projects-item">
    <a href="https://andrewfront.github.io/ourfoodsite/" target="_blank"><img class="projects-img" src="images/delivery.jpg" alt="delivery"></a>
    <a href="https://andrewfront.github.io/ourfoodsite/" class="projects-link view" target="_blank">watch</a>
    <a href="https://github.com/andrewfront/Ourfood" class="projects-link code" target="_blank">source code</a>
</div>
<div class="projects-item">
    <a href="https://tranquil-souffle-b5b14b.netlify.app/" target="_blank"><img class="projects-img" src="images/geekfuel.jpg" alt="geekfuel"></a>
    <a href="https://tranquil-souffle-b5b14b.netlify.app/" class="projects-link view" target="_blank">watch</a>
    <a href="https://github.com/andrewfront/geekfuel" class="projects-link code" target="_blank">source code</a>
</div>
<div class="projects-item">
    <a href="https://andrewfront.github.io/yourBagReady/" target="_blank"><img class="projects-img" src="images/your-bag-ready.jpg" alt="your-bag-ready"></a>
    <a href="https://andrewfront.github.io/yourBagReady/" class="projects-link view" target="_blank">watch</a>
    <a href="https://github.com/andrewfront/yourBagReady/blob/main/index.html" class="projects-link code" target="_blank">source code</a>
</div>
</div>
<h2 class="projects-title">react projects</h2>
<div class="projects-inner">
    <div class="projects-item">
        <a href="https://cocktail-app-project.netlify.app/" target="_blank"><img class="projects-img" src="images/cocktails-app.jpg" alt="food-shop"></a>
        <a href="https://cocktail-app-project.netlify.app/" class="projects-link view" target="_blank">watch</a>
        <a href="https://github.com/andrewfront/cocktails-app" class="projects-link code" target="_blank">source code</a>
    </div>
    <div class="projects-item">
        <a href="https://unsplash-photo-react-app.netlify.app/" target="_blank"><img class="projects-img" src="images/unsplash-app.jpg" alt="food-shop"></a>
        <a href="https://unsplash-photo-react-app.netlify.app/" class="projects-link view" target="_blank">watch</a>
        <a href="https://github.com/andrewfront/get-photos-app" class="projects-link code" target="_blank">source code</a>
    </div>
    <div class="projects-item">
        <a href="https://pet-todo-react-app.netlify.app/" target="_blank"><img class="projects-img" src="images/todo-app.jpg" alt="food-shop"></a>
        <a href="https://pet-todo-react-app.netlify.app/" class="projects-link view" target="_blank">watch</a>
        <a href="https://github.com/andrewfront/products-app" class="projects-link code" target="_blank">source code</a>
    </div>
    <div class="projects-item">
        <a href="https://special-news-app-project.netlify.app/" target="_blank"><img class="projects-img" src="images/news-app.jpg" alt="food-shop"></a>
        <a href="https://special-news-app-project.netlify.app/" class="projects-link view" target="_blank">watch</a>
        <a href="https://github.com/andrewfront/search-app" class="projects-link code" target="_blank">source code</a>
    </div>
</div>
</div>
</section>